/* Custom player style */
#section3 {
    background: rgb(202, 198, 202);
    border: 2px solid rgb(185, 185, 185);
    width: fit-content;
    background: rgb(237, 231, 238);
}

#section3 midi-player {
    display: block;
    margin: 4px;
    margin-bottom: 0;
    width: auto;
}

#section3 midi-player::part(control-panel) {
    background: rgb(202, 198, 202);
    border: 2px solid rgb(185, 185, 185);
    border-radius: 0px 0px 0 0;
    margin-left: -5px;
    margin-right: -5px;
}

#section3 midi-player::part(play-button) {
    color: #353;
    border: 2px solid currentColor;
    background-color: #4d4;
    border-radius: 5px;
    transition: all 0.2s;
    content: 'hello';
}

#section3 midi-player::part(play-button):hover {
    color: #0a0;
    background-color: #5f5;
    border-radius: 8px;
}

#section3 midi-player::part(time) {
    font-family: monospace;
}

/* Custom visualizer style */
#section3 midi-visualizer .piano-roll-visualizer {
    margin: 4px;
    margin-top: 0;
    overflow: auto;
    width: fit-content;
    padding: 5px;
}

#section3 midi-visualizer svg rect.note {
    opacity: 0.6;
    stroke-width: 2;
}

#section3 midi-visualizer svg rect.note[data-instrument="0"]{
    fill: #e22;
    stroke: #500;
}

#section3 midi-visualizer svg rect.note[data-instrument="2"]{
    fill: #2ee;
    stroke: #055;
}

#section3 midi-visualizer svg rect.note[data-is-drum="true"]{
    fill: #888;
    stroke: #888;
}

#section3 midi-visualizer svg rect.note.active {
    opacity: 0.9;
    stroke: #000;
}